
.categories-container {
    display: flex;
    justify-content: center;
}
.categories-container button:hover {
    color: var(--white);
    transition-duration: .5s;
}
/* start media section */
@media (max-width: 771px){
    .categories-container button {
        font-size: 12px;
        padding: 5px;
        margin: 0px;
    }
}
@media (max-width: 598px){
    .categories-container {
        display: flex;
        flex-direction: column;
    }
}