.navigation {
    background-color: var(--blue-light);
    padding: 10px 30px;
    border-radius: 10px 50px 50px 10px;
    box-shadow: 0px 0px 12px -5px #808080;
    border: 1px solid #b8b8b8;
    z-index: 4;
    max-height: 100vh;
    min-width: fit-content;
    overflow-y: auto;
    transition-duration: .8s;
}

.navigation section ul {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    padding: 0px;
}
.navigation section ul h6 {
    margin-bottom: 15px;
    padding-left: 10px;
    font-weight: bold;
    transition-duration: .8s;
}
.navigation section  li {
    padding: 0px 35px 0px 10px;
    margin: 5px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    color: black;
    transition-duration: .8s;
}
.navigation section  li span{
    padding: 0px 10px;
    transition-duration: .8s;
}


.navigation section li:hover {
    background-color: var(--white);
    color: var(--danger);
    border-radius: 10px 10px;
    transition-duration: .5s;
}
@media (max-width: 600px) {
    .navigation{
        display: none;
        transform: translateX(-50px);
    }
}
@media (max-width: 571px){
    .navigation{
        padding: 5px 5px 5px 10px;
        margin: 5px;
    }
    .navigation section li{
        padding: 0px;
    }
    .navigation section li svg{
        display: none;
        transition-duration: .8s;
    }
    .navigation section ul h6,
    .navigation section li span{
        font-size: 12px;
    }
}
.show {
    display: block;
    transition-duration: .8s;
}
