/* nav bar section */
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    transition-duration: 1.2s;
}
nav ul a {
    color: black;
    padding: 5px;
    margin: 0px 10px;
}
nav ul a:hover {
    color: black;
}
nav ul li {
    
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--gray-dark);
}
nav ul li:hover {
    color: black;
}
.num-icon{
    margin: 0px 5px;
    position: relative;
}
.num-icon svg {
    font-size: 20px;
    color: black;
}
.num-icon .fav {
    background-color: var(--gray-light);
    color: white;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    top: -12px;
    right: -12px;
    font-size: 12px;
}
.fav-cart {
    background-color: var(--gray-light);
    color: white;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 2px;
    position: absolute;
    top: -14px;
    right: -16px;
    font-size: 12px;
}

/* media section */
